<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Launchy</string>
	<key>CFBundleExecutable</key>
	<string>Launchy</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.janfeuerbacher.Launchy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Launchy</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>es-MX</string>
		<string>fr</string>
		<string>it</string>
		<string>pt-BR</string>
		<string>pt-PT</string>
		<string>tr</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.2</string>
	<key>CFBundleVersion</key>
	<string>0.3.2</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Allows Launchy to detect the configured hot corner so it can show/hide the launcher.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Jan Feuerbacher</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Punshnut/macos-launchy/dev/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>0cLQL6f2MSv7lqETBkHf8VuLfrCH/RaSeU0GVKvVfBw=</string>
</dict>
</plist>
